.marginalie {
  font-family: Raleway;
  padding-left: $padding-base;
  padding-right: $padding-base;
  width: $margin-l;
  float: left;
  margin-left: -$margin-l;
  margin-bottom: 0;
  text-align: right;
}
